# rename this file to .env and supply the values listed below
# Copy .env.example to .env.development and env.production.
# Depending on your active environment, the correct one will be found
# and its values embedded as environment variables in the browser JavaScript.
# https://www.gatsbyjs.com/docs/how-to/local-development/environment-variables/

# also make sure they are available to the build tool (e.g. Netlify)
# warning: variables prefixed with GATSBY_ will be made available to client-side code
# be careful not to expose sensitive data (in this case your Algolia admin key)

GATSBY_ALGOLIA_APP_ID=insertValue
GATSBY_ALGOLIA_SEARCH_KEY=insertValue
ALGOLIA_ADMIN_KEY=insertValue

SITE_URL=`mysite.com`